@charset 'UTF-8';

:root {
  --bgColor: "color(color-11)";
}

/* line 2, app/common.scss */
body {
  font: "font({theme: 'Body-M', size:'20px'})";
  background: "color(--bgColor)";
}

.tpa-first:hover {
  color: "color(--colorFirst)";
  margin-left: 10px;
}

.tpa-second {
  border: 1px solid #000;
  font: "font(Body-M)";
}

.no-tpa {
  border: 1px solid #000;
}

.only-tpa {
  color: "color(color-2)";
}

@media (min-width: 300px) and (max-width: 730px) {
  .tpa-first:hover {
    /*height: 100%;*/
    color: "color(color-2)";
    margin-left: 10px;
    padding: 5px 2px 5px 2px;
  }

  .tpa-second {
    border: 1px solid #000;
    font: "font(Body-M)";
  }

  .no-tpa {
    border: 1px solid #000;
  }

  .only-tpa {
    color: "join(color(color-1), 10, color(color-8), 50)";
  }
}

@keyframes identifier {
  0% {
    color: "opacity(color(color-1), 0.8)";
  }
  100% {
    color: #000;
  }
}

@font-face {
  font-family: "glyphicons";
  font-weight: "normal";
  font-style: "normal";
}

.in-the-middle {
  width: 100%;
}

@media (min-width: 300px) and (max-width: 730px) {
  /* comment */
  .tpa-first:hover {
    width: "unit(100, %)";
  }
}

@media (min-width: 300px) and (max-width: 730px) {
  /* comment */
  .tpa-first {
    width: 100%;
  }
}

.multi-usage {
  border: "unit(--borderWidth, px)" solid "color(color-2)";
}

.first-none-falsy2 {color: "color(--first_none_falsy)"}

.rtl-support {
  padding-START: 9px;
  float: START;
  padding-END: 9px;
  START: 10px;
  END: 10px;
  color: #000;
  direction: DIR;
  margin: STARTSIGN5px;
  margin: ENDSIGN5px;
  transform: rotate(DEG-STARTdeg);
  transform: rotate(DEG-ENDdeg);
  background-color: rgba(255, 0, 0, .2);
}
