.second-styles {
  border-size: "unit(--borderWidth, px)";
  color: red;
}

.foo {color: "color(--my_var)";}

.foo {font: "font(--my_var2)";}

.foo {width: "string(--my_var3)";}

.foo2 {--my_var4: "string(0px)"; width: "string(--my_var4)";}

:root {--my_var3: "color(color-4)";}
.foo5 {color: "color(--my_var5)";}

:root {--cart_textFontStyle:"font(Body-M)"; --cartButton_textColor:"color(color-1)";}
.foo6 {font:"font(--cart_textFontStyle)"; color:"color(--cartButton_textColor)";}

.font-test {font: "font(Body-M)";}

.font-test2 {--some-font: "font(Body-M)"; font: "font(--some-font)";}

.font-test3::after {content: " ";}

.font-test4 {--var: "color(color-2)"; color:"join(opacity(color(color-1), 0.5), 1, opacity(--var, 0.5), 1)";}

.foo7 {rule1: "opacity(--lala, 0.5)"; --lala: "color(color-9)";}

.foo8 {rule: bar;rule3: baz; rule4: "color(color-1)"; rule5: "color(color(color(color-2)))";}

.foo9 {rule1: "darken(color(color-9), 0.5)";}

.foo10 {rule1: "withoutOpacity(opacity(color(color-9), 0.1))";}

.foo11 {rule1: "opacity(--foo, 0.5)";}

.foo12 {rule1: "join(--foo, 1, color(color-10), 1)";}

.foo13 {width: calc(100% - "number(--foo)");}

.foo14 {border: "unit(--foo, px)" solid "color(--bar)";}

.foo15 {border: "unit(--foo, px)" solid "color(--bar)";}

.foo16 {padding: 10px 11px 12px 13px; margin-right: 20px; color: blue;}

.foo17 {--bar: var(42); --baz: var(21); padding: --baz;}

.datepicker__day--highlighted:hover{background-color: "color(color-1)";}

.no-space-after-colon {rule: bar;rule3:baz;rule4: "color(color-9)";rule5: "color(color(color-9))"}

.font-theme-override {font: "font({theme: 'Body-M', size: '10px', lineHeight: '2em', weight: 'bold', style:'italic'})"}

.font-override-with-var-from-settings {--bodyText: "font({theme: 'Body-M', size: '10px', lineHeight: '2em', weight: 'bold', style:'italic'})"; font: "font(--bodyText)"}

.font-override-with-var {--bodyText2: "font({theme: 'Body-M', size: '10px', lineHeight: '2em', weight: 'bold', style:'italic'})"; font: "font(--bodyText2)"}

.double-var-reference {--var1:"number(42)"; --var2:"number(--var1)"; rule4:"number(--var2)";}

.undefined-variables {--yfyfdydfy:"font(--wwertyuio)"}

.underlined { font: "font(--fontVar)" }

.fallback-colors {color: "fallback(color(--my_var3fhfh), color(color-1))"}
